@tailwind base;
@tailwind components;
@tailwind utilities;


/* Extra Styling for the check, trash, and errorMessage */

#todo-list div{
    margin-bottom: 10px;
    text-align: start;
    padding: 0rem .5rem;
    font-size: 18px;
}
#icons i{
    background-color: wheat;
    padding: .5rem;
    border-radius: 50%;
    transition: .21s ease-in-out;
    cursor: pointer;
    margin-top: 25px;
}

#check i:hover{
    background-color: lightgreen;
    color: white;
}
#trash i:hover{
    background-color: red;
    color: white;

}
